apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-dashboard-ssl
  namespace: kube-system
  annotations:
    ingress.kubernetes.io/rewrite-target: "/"
    ingress.kubernetes.io/add-base-url: "true"
    ingress.kubernetes.io/secure-backends: "true"
spec:
  tls:
  - hosts:
    - {{ dashboardvirtualhost }}
    secretName: dashboard-cert
  rules:
  - host: {{ dashboardvirtualhost }}
    http:
      paths:
      - path: /
        backend:
          serviceName: dashboard-kubernetes-dashboard
          servicePort: 443
